:root {
  --color-accent: rgb(60, 179, 113);
  --color-bg: rgb(11, 3, 34);
  --color-link: rgb(146, 146, 255);
  --color-footer-text: rgb(86, 81, 99);
}

h1, h2 {
    color: var(--color-accent);
}

b {
   color: var(--color-accent);
}

a {
    color: var(--color-link);
}

body {
    background-color: var(--color-bg);
}

footer {
    color: var(--color-footer-text);
}

a:hover {
    opacity: 0.5;
}

* {
    color: white;
    font-family: Menlo,Monaco,Consolas;
}

.box {
    text-align: center;
    width: 100%;
}

.box h1::after {
    content: "";
    width: 15px;
    height: 30px;
    background: var(--color-accent);
    display: inline-block;
    transform: translate(4px,4px);
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.styledTitle {
    margin: auto;
    width: fit-content;
    padding: 10px;
}

.intro_section {
    display: flex;
}

.intro_part {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.personal_statement {
    margin: auto;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

.button_holder {
    margin: auto;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

button.resume_button {
    font-size: medium;
    background-color: var(--color-bg);
    padding: 14px 40px;
    border-radius: 4px;
    border: 5px solid var(--color-accent);
    width: fit-content;
    height: fit-content;
}

.brief_desc {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.skills {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.skill {
    display: inline-block;
    margin: auto;
    width: 200px;
    padding: 10px;
}

.skill h3 {
    text-align: center;
}

.skill p {
    text-align: center;
}

.skills_title {
    text-align: center;
}

.brief {
    text-align: center;
}

.interests {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.interest {
    display: flex;
    margin: auto;
    width: 250px;
    padding: 10px;
    text-align: center;
}

.contact-links {
    margin: auto;
    text-align: center;
    width: fit-content;
}
