h1, h2 {
    color:rgb(60, 179, 113)
}

a {
    color: rgb(146, 146, 255);

}
body {
    background-color: rgb(11, 3, 34);

}

footer {
    color: rgba(11, 3, 34, 0.391)

}

a:hover {
    opacity: 0.5;
}

* {
    color: white;
    font-family: Menlo,Monaco,Consolas;

}

.box h1::after {
    content: "";
    width: 15px;
    height: 30px;
    background: MediumSeaGreen;
    display: inline-block;
    transform: translate(4px,4px);
}

.box h1:after {
    animation: cursor-blink 1s steps(2) infinite;

}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

}


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li.navitem {
    float: left;
}


li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navitem a:hover {
    background-color: #555;
}



.projectBox {
    background-color: #333;
}
