h1, h2 {
    color:rgb(60, 179, 113)
}

a {
    color: rgb(146, 146, 255);

}
body {
    background-color: rgb(11, 3, 34);

}

footer {
    color: rgba(11, 3, 34, 0.391)

}

a:hover {
    opacity: 0.5;
}

* {
    color: white;
    font-family: Menlo,Monaco,Consolas;

}

.box {
    text-align: center;
    width: 100%;
}

.box h1::after {
    content: "";
    width: 15px;
    height: 30px;
    background: MediumSeaGreen;
    display: inline-block;
    transform: translate(4px,4px);
}

.box h1:after {
    animation: cursor-blink 1s steps(2) infinite;

}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

}


ul.navbar {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

li.navitem {
    display: inline-block;
    text-align: center;
}


li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navitem a:hover {
    background-color: #555;
}



div.styledTitle {
    
    margin: auto;
    width: fit-content;
    padding: 10px;
}
div.intro_section {
    display: flex;
}
div.intro_part {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
div.personal_statement {
    margin: auto;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

img.me {
    scale: 20%;
}

div.button_holder {
    margin: auto;
    width: fit-content;
    padding: 10px;
    text-align: center;
}
button.resume_button {
    font-size: medium;
    background-color: rgb(11, 3, 34);
    padding: 14px 40px;
    border-radius: 4px;
    border: 5px solid rgb(60, 179, 113);
    width: fit-content;
    height: fit-content;

}
button.resume_button a {
    text-decoration: none;
    color: white;
}
div.brief_desc {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}
div.skills {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div.skill {
    display: inline-block;
    margin: auto;
    width: 200px;
    padding: 10px;
}
div.skill h3{
    text-align: center;
}
div.skill p {
    text-align: center;
}
div.skills_title {
    text-align: center;
}
div.brief {
    text-align: center;
}
div.interests {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div.interest {
    display: flex;
    margin: auto;
    width: 250px;
    padding: 10px;
    text-align: center;
}